*{
    margin:0;
}
.home {
    height: 100rem;
    width: auto;
    background-color: white;
    

}

.first-cards{
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    
}

.first-cards >div{
    flex-direction: row;
    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin: 10px;

}
.first-cards>div:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

div img{
    width:100%;
    height: auto;;
}
.first-cards>div>.info-container> div h2{
    margin-top: 0;
    color:black;
}

.first-cards>div>.info-container> div p {
    margin-top: 0;
    color: black;
}
.first-cards>div >.info-container {

    padding: 16px;
}

.second-cards {
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    padding: 0;
}

.second-cards>div {
    flex-direction: row;
    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin: 10px;

}

.second-cards>div:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.second-cards>div>.info-container>div h2 {
    margin-top: 0;
    color: black;
}

.second-cards>div>.info-container>div p {
    margin-top: 0;
    color: black;
}

.second-cards>div>.info-container {

    padding: 16px;
}
.video-banner{
    width:100%;
    height:700px;
}
