
* {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}




/* Header */
.navbar-div{
  position: fixed;
  width: 100%;
  float: left;
  opacity: 90%;
  transition: all 0.3s;
}
.navbar {
  background-color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.logo {
  float:left;
}
#logo  {
  float:left;
  padding-right: 750px;
}

.logo img {
  padding-left: 6rem;
  height: 60px;
}
.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-right: 80px;
  font-size: 1rem;

}

.nav-links a {
  text-decoration: none;
  color: black;
  font-weight: medium;
  transition: all 0.5s;
}

.nav-links a:hover {
  font-size: 1.1rem;
  color: #ddd;
}
/* Content */
.content-banner {
  margin-top:95px;
  width: auto;
  overflow: hidden;
  background-position: center;
  background-size: 100%;
  width: 100vw;
  background-image: url("assets/banner.png");
}
.content-banner1 {
  display: flex;
  width: 1280px;
  height:600px;
  margin: 0px auto;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}
.content-banner1 h1 {
  font-size: 5rem;
  opacity: 80%;
  color: white;
}

.content-banner1 button {
  background-color: #99ADDB;
  border: none;
  border-radius: 5rem;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-weight: 600;
  margin: 4px 2px;
  cursor: pointer;
  transition: all 1s;
  margin-top: 50px;
}
.content-banner1 button:hover {
  background-color: blue;
}
 
.section {
  background-color: white;
  overflow: hidden;
  width: 100%;
  height:200px;
}
.section-content {
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height:200px;
  justify-content: space-around;
}
.steps-content {
   width: 400px;

}
.steps h3 {
  font-size: 30px;
  color: #20275A;
}
.section-1 {
  color: white;
  background-color: #c4c4c4;
  width: 100%;
}

.section__title {
  padding-top: 3rem;
}
.section-content1 {
  padding-top: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
}
.section-card {
  padding-bottom: 10rem;
} 
.section-card h3{
  padding-top: 1rem;
  color: #20275A;
}
.section__title h4 {
  font-family: 'Inter', sans-serif;

  font-size: 1.2rem;
  color: #20275A;
}
h1 {
  font-family: 'Inter', sans-serif;

  font-size: 3rem;

}
.section-content2 li {
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 1.2rem;
}

.section-3 {
  background-color: #e9e9e9;
  width: 100%;
  height: 500px;
}
.section-3 p{
  padding-top: 4rem;
  padding-bottom: 2rem;
  font-size: 1.5rem;
}

.section__3content {
  margin: 0px auto;
  width: 1000px;
}
hr {
  border: 0.15rem solid black;
  border-radius: 5px;
  width: 50%;
  margin: 0px auto;
  opacity: 10%;
}
.section-2 { 
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #F4F4F4;
  width: 100%;
  padding-bottom: 5rem;
}
/* Login & Register */

.auth-form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 5px solid white;
  border-radius: 20px;
  background-color: white;
  text-align: center;
  width: 80%;
}

.auth-form h2 {
  margin-top: 1.5rem;
  color: #333;
}

.auth-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth-form label {
  margin: 20px 0;
}

.auth-form input {
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-top: 5px;
  transition: all 0.5s;
}
.auth-form input:hover {
  padding: 15px;

}

.auth-form button {
  background-color: #4caf50;
  color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  padding: 10px;
  cursor: pointer;
  font-size: 1rem;
  margin-bottom:  1.5rem;
  width: 45%;
}

.auth-form button:hover {
  background-color: #45a049;
}
.auth-form1 {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 5px solid white;
  border-radius: 20px;
  background-color: white;
  text-align: center;
  width: 80%;
}

.auth-form1 h2 {
  margin-top: 1.5rem;
  color: #333;
}

.auth-form1 form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth-form1 label {
  margin: 20px 0;
}

.auth-form1 input {
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-top: 5px;
  transition: all 0.5s;
}
.auth-form1 input:hover {
  padding: 15px;

}

.auth-form1 button {
  background-color: #4caf50;
  color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  padding: 10px;
  cursor: pointer;
  font-size: 1rem;
  margin-bottom:  1.5rem;
  width: 45%;
}

.auth-form1 button:hover {
  background-color: #45a049;
}
.login-form {
  display: flex;
  background-color: blue;
  justify-content: space-between;
  align-items: center;
  width: auto;
  height: 100vh;
}
.login-form Footer {
  position:  absolute;
  bottom: 0;
}
.login-banner {
  
  background-image: url("assets/content-background.jpg");
  
  display: flex;
  width: 50%;
  height: 100vh;
  align-items: center;
  color: white;
}
.login-banner2 {
  
  background-image: url("assets/content-background1.jpg");
  
  display: flex;
  width: 50%;
  height: 100vh;
  align-items: center;
  color: white;
}

.login-banner1 {
  display:flex;
  flex-direction: column;
  margin: 0px auto;
  display: flex;
  width: 75%;
  height: 100vh;
  
}
.login-banner1 h2{
  font-size: 2.2rem;
}
.login-banner1 p {
  font-size: 1.5rem;
}
.login-banner1 label {
  margin-top: 35vh;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 30px;
}
.overlay {
  position: absolute;
  top:0;
  left: 1;
  width: 50%;
  height: 100%;
  background-color: rgba(65, 67, 82, 0.8);
}
.login-content {
  display: flex;
  justify-content: center;
  width: 50%;
  height: 100vh;
}
.login-content {
  --s: 25vmin;
  --p: calc(var(--s) / 2);
  --c1: pink;
  --c2: dodgerblue;
  --c3: white;
  --bg: var(--c3);
  --d: 4000ms;
  --e: cubic-bezier(0.76, 0, 0.24, 1);
  
  background-color: var(--bg);
  background-image:
    linear-gradient(45deg, var(--c1) 25%, transparent 25%),
    linear-gradient(-45deg, var(--c1) 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, var(--c2) 75%),
    linear-gradient(-45deg, transparent 75%, var(--c2) 75%);
  background-size: var(--s) var(--s);
  background-position: 
    calc(var(--p) *  1) calc(var(--p) *  0), 
    calc(var(--p) * -1) calc(var(--p) *  1), 
    calc(var(--p) *  1) calc(var(--p) * -1), 
    calc(var(--p) * -1) calc(var(--p) *  0);
  animation: 
    color var(--d) var(--e) infinite,
    position var(--d) var(--e) infinite;
}

@keyframes color {
  0%, 25% {
    --bg: var(--c3);
  }
  26%, 50% {
    --bg: var(--c1);
  }
  51%, 75% {
    --bg: var(--c3);
  }
  76%, 100% {
    --bg: var(--c2);
  }
}

@keyframes position {
  0% {
    background-position: 
      calc(var(--p) *  1) calc(var(--p) *  0), 
      calc(var(--p) * -1) calc(var(--p) *  1), 
      calc(var(--p) *  1) calc(var(--p) * -1), 
      calc(var(--p) * -1) calc(var(--p) *  0);
  }
  25% {
    background-position: 
      calc(var(--p) *  1) calc(var(--p) *  4), 
      calc(var(--p) * -1) calc(var(--p) *  5), 
      calc(var(--p) *  1) calc(var(--p) *  3), 
      calc(var(--p) * -1) calc(var(--p) *  4);
  }
  50% {
    background-position: 
      calc(var(--p) *  3) calc(var(--p) * 8), 
      calc(var(--p) * -3) calc(var(--p) * 9), 
      calc(var(--p) *  2) calc(var(--p) * 7), 
      calc(var(--p) * -2) calc(var(--p) * 8);
  }
  75% {
    background-position: 
      calc(var(--p) *  3) calc(var(--p) * 12), 
      calc(var(--p) * -3) calc(var(--p) * 13), 
      calc(var(--p) *  2) calc(var(--p) * 11), 
      calc(var(--p) * -2) calc(var(--p) * 12);
  }
  100% {    
    background-position: 
      calc(var(--p) *  5) calc(var(--p) * 16), 
      calc(var(--p) * -5) calc(var(--p) * 17), 
      calc(var(--p) *  5) calc(var(--p) * 15), 
      calc(var(--p) * -5) calc(var(--p) * 16);
  }
}

@media (prefers-reduced-motion) {
  login-content1 {
    animation: none;
  }
}
.login-content1 {
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  width: 50%;
  height: 100vh;
  align-items: center;
}

.login-content1 h1{
  margin-top: 18vh;
  font-size: 2.2rem;
  color: white;
}
.login-content1 p{
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1.5rem;
  color: white;
}
.register-content1 {
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  width: 50%;
  height: 100vh;
  align-items: center;
}

.register-content1 h1{
  margin-top: 10vh;
  font-size: 2.2rem;
  color: white;
}
.register-content1 p{
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1.5rem;
  color: white;
}

/* Register */
.register-form {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: white;
  text-align: center;
}

.register-form h2 {
  color: #333;
}

.register-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-form label {
  margin: 10px 0;
}

.register-form input {
  padding: 8px;
  margin-top: 5px;
  width: 100%;
}

.register-form button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  width: 100%;
  border-radius: 3px;
}

.register-form button:hover {
  background-color: #45a049;
}
.register-page {
  background-color: blue;
  justify-content: space-between;
  align-items: center;
  width: auto;
  height: 100vh;
}
.register-page Footer {
  position: absolute;
  bottom: 0;
}

.arrow {
  position: absolute;
  top:30px;
  left: 40px;
  border: solid white;
  border-radius: 15px;

  opacity: 100%;
  border-width: 0 20px 20px 0;
  display: inline-block;
  padding: 20px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

/* Main Page */
#special {
  padding-top: 50px;
}
.mac {
  padding-top: 1rem;
  height: 25%;
  width: 25%;
}

.main-page {
  flex-direction: row ;
  display: flex;
  background-color: #20275A;
  width: 100vw;
  height: 100vh;
  align-items: center;
}
.side-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5rem;
  border: solid 0.2rem white;  
  border-radius: 15px;
  box-shadow: 0px 0px 2rem lightblue;

  width: 25vw;
  height: 75vh;
  background-color: white;
}
.side-menu h2{
  margin: 5rem;
  text-decoration: none;
}
.side-menu a{
  font-size: 2rem;
  color: black;
  transition: all 0.2s;
  text-decoration: none;
}
.side-menu a:hover{
  color: darkblue;
  font-size: 2.5rem;
}
.side-menu hr{
  border: 0.15rem solid black;
  border-radius: 5px;
  width: 75%;
  margin: 0px auto;
  opacity: 10%;
}
.blogs {
  margin: 5rem;
  border: solid white;
  border-radius: 15px;
  width: 50vw;
  height: 75vh;
  box-shadow: 0px 0px 2rem lightblue;

  background-color: white;
}
.issue { 
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin: 0px auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: solid black;
  border-radius: 15px;
  width: 35vw;
  height: 20vh; 
  background-color: white;
  transition: all 0.2s;
}
.issue button{ 
  overflow: hidden;
  width: 25%;
  height: 2rem;
  color: white;
  margin-top: 20px;
  font-size: 16px;
  border: 1px solid black;
  border-radius: 15px;
  align-self: center;
  background-color: rgb(9, 21, 92);
  transition: all 0.5s;
}
.issue p{ 
  overflow: hidden;
}
.issue h2{ 
  overflow: hidden;
}
.issue h3{ 
  overflow: hidden;
}
.issue button:hover{ 

  background-color: rgb(16, 45, 172);
}
.issue:hover{ 
  height: 25vh; 
}


.main-profile {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 5rem;
  border: solid white;
  border-radius: 15px;
  width: 50vw;
  height: 75vh;
  box-shadow: 0px 0px 2rem lightblue;

  background-color: white;
}
.main-profile1 {
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  border: solid white;
  border-radius: 15px;
  width: 40vw;
  height: 100vh;
}  
.form-button {
  color: white;
  background-color: #3f8640;
  border: solid white;
  border-radius: 15px;
  padding: 1.5rem;
  font-weight: 800;  
  margin-left:60%;
  margin-top:1rem;
  margin-bottom:1rem;
  transition: all 0.5s;
}
.form-button:hover {
  background-color: #234d24;

}
.Modal form{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Modal h2{
  margin-bottom: 30px;
}
.Modal input{
  border: 1px solid rgba(0, 0, 0, 0.5)  ;
  border-radius: 10px;
  height: 30px;
  padding: 5px;
}
.btn-modal-save{
  border: 1px solid rgba(255, 255, 255, 0.5)  ;
  border-radius: 10px;
  height: 30px;
  font-size: 1rem;
  color: white;
  width: 100px;
  background-color: #234d24;
  transition: all 0.5s;
}
.btn-modal-save:hover{
  
  background-color: #48a549;
}
.btn-modal-close{
  border: 1px solid rgba(255, 255, 255, 0.5)  ;
  border-radius: 10px;
  height: 30px;
  font-size: 1rem;
  color: white;
  width: 100px;
  background-color: rgb(122, 0, 0);
  transition: all 0.5s;
}
.btn-modal-close:hover{

  background-color: rgb(200, 0, 0);
}
#account {
  color:black;
  font-size: 16px;
}
.content-form {
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
}

.form-button-red {
  color: white;
  background-color: red;
  border: solid white;
  border-radius: 15px;
  padding: 1.5rem;
  font-weight: 800;  
  transition: all 0.5s;

}
.form-button-red:hover {
  background-color: rgb(90, 3, 3);

}
.profile img {
  height: 200px;
  width: 200px;
}