
* {
  font-family: 'Varela Round', sans-serif;  
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}



/* Header */

.navbar {
  background-color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.logo {
  float:left;
}
.logo img {
  padding-left: 6rem;
  height: 60px;
}
.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-right: 80px;
  font-size: 1rem;

}

.nav-links a {
  text-decoration: none;
  color: black;
  font-weight: medium;
  transition: color 0.5s;
}

.nav-links a:hover {
  color: #ddd;
}
/* Content */
.content-banner {
  width: auto;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  background-image: url("assets/banner.png");
}
.content-banner1 {
  display: flex;
  width: 1280px;
  height:600px;
  margin: 0px auto;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}
.content-banner1 h1 {
  font-size: 4rem;
  color: white;
}
.content-banner1 button {
  background-color: #99ADDB;
  border: none;
  border-radius: 5rem;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-weight: 600;
  margin: 4px 2px;
  cursor: pointer;
  transition: background-color 0.5s;
  margin-top: 50px;
}
.content-banner1 button:hover {
  background-color: blue;

}
 
.section {
  background-color: white;
  overflow: hidden;
  width: 100%;
  height:200px;
}
.section-content {
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height:200px;
  justify-content: space-around;
}
.steps-content {
   width: 400px;

}
.steps h3 {
  font-size: 30px;
  color: #20275A;
}
.section-1 {
  color: white;
  background-color: #c4c4c4;
  width: 100%;
}

.section__title {
  padding-top: 3rem;
}
.section-content1 {
  padding-top: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
}
.section-card {
  padding-bottom: 10rem;
} 
.section-card h3{
  padding-top: 1rem;
  color: #20275A;
}
.section__title h4 {
  font-family: 'Varela Round', sans-serif;  
  font-size: 1.2rem;
  color: #20275A;
}
h1 {
  font-family: 'Varela Round', sans-serif;  
  font-size: 3rem;

}
.section-content2 li {
  padding-top: 30px;
  font-size: 1.2rem;
}
.section-3 {
  background-color: #e9e9e9;
  width: 100%;
  height: 500px;
}
.section-3 p{
  padding-top: 4rem;
  padding-bottom: 2rem;
  font-size: 1.5rem;
}

.section__3content {
  margin: 0px auto;
  width: 1000px;
}
hr {
  border: 0.15rem solid black;
  border-radius: 5px;
  width: 50%;
  margin: 0px auto;
  opacity: 10%;
}
.section-2 {
  background-color: #F4F4F4;
  width: 100%;
  padding-bottom: 5rem;
}
/* Login & Register */

.auth-form {
  max-width: 300px;
  margin: auto;
  margin-top: 12%;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: white;
  text-align: center;
}

.auth-form h2 {
  color: #333;
}

.auth-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth-form label {
  margin: 10px 0;
}

.auth-form input {
  padding: 8px;
  margin-top: 5px;
  width: 100%;
}

.auth-form button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  width: 100%;
  border-radius: 3px;
}

.auth-form button:hover {
  background-color: #45a049;
}
.login-form {
  background-color: blue;
  justify-content: space-between;
  align-items: center;
  width: auto;
  height: 100vh;
}
.login-form Footer {
  position:  absolute;
  bottom: 0;
}
/* Register */
.register-form {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: white;
  text-align: center;
}

.register-form h2 {
  color: #333;
}

.register-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-form label {
  margin: 10px 0;
}

.register-form input {
  padding: 8px;
  margin-top: 5px;
  width: 100%;
}

.register-form button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  width: 100%;
  border-radius: 3px;
}

.register-form button:hover {
  background-color: #45a049;
}
.register-page {
  background-color: blue;
  justify-content: space-between;
  align-items: center;
  width: auto;
  height: 100vh;
}
.register-page Footer {
  position: absolute;
  bottom: 0;
}

.login-UI {
  display: flex;
  width: 100%;
  height: 950px;
}
.login-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  width: 50%;
  background-image: url("assets/content-background.jpg");
}
.login-content {
  display: flex;
  width: 50%;
}
.login-content1 {
  background-color:whites ;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0px auto;
  width: 50%;
}
.login-content1 input {
  border: none;
}
.login-content1 hr {
  border: 0.15rem solid black;
  border-radius: 10px;
  width: 100%;
  margin: 0px auto;
  opacity: 100%;
}

.login-blank input::placeholder{
  opacity: 50%;
}
